/* heres the font of my website */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@1,300&display=swap');

/* this controls my html (whole page) */
html{
    background-color: whiteSmoke;
}

body{
    margin: auto;
}

/* this controls my nav bar (on the side )*/
nav{
  background-color: rgb(82, 182, 249);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  height: 2590px;
  width: 150px;
  float: left;
}

/* this controls the links to my website */
nav a{
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 14px 0 200px;
  text-decoration: none;
  width: 150px;
  font-size: 20px
}

/* this controls my heading 1 */
h1{
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-weight: lighter;
  margin: 0-60px 35px;
  padding: 20px 60px;
}

/* this controls my header */
header{
     background-color: rgb(124, 214, 255);
    padding-bottom: 20px;
  margin:auto;
    width: auto;
    font-size: 50px;
    text-align: center;
}

/* this controls my paragraphs in my website */
p{
    font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
    text-align: center;
}

/* this controls my heading 3 */
h3{
    text-decoration: none;
    font-size: 50px;
    text-align: center;
}

/* this controls my heading 4 */
h4{
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}

/* this controls my heading 5 */
h5{
    text-align: center;
    font-size: 30px;
}

/* this controls all my images in my website */
img{
    width: 160px;
    height: auto;
    margin-left: 10px;
    /* TODO: change margin */
    margin-top: 199px;
}

/* the next 4 css controls each images in my website, it is controlled with something called class */
 .netball{
    width: 300px;
    height: 240px;
}

.rugbyball{
    width: 300px;
    height: 240px;
    margin-left: 370px;
}

.volleyball{
    width: 350px;
    height: 240px;
    margin-left: 370px;
}

.court{
    width: 690px;
    margin-left: 370px;
    margin-right: 450px;
    margin-top: 0px;
}

.field{
    width:490px;
    margin-top: 0px;
    margin-left: 550px;
}

/* this controls the video under iframe html */
mydiv{
    margin-left: 580px;
}

/* this controls the footer in my website*/
.footer{
    background-color: rgb(124, 214, 255);
   height: 120px;
    text-align: center;
    font-size:  30px;
    margin: 30px 0px 0px 0px;
}

.form{
    /* for my google form to stay in the middle */
}

/* controls my background image in contact page */
.bimage{
    width: 1000px;
    height: 650px;
    margin-left: 380px;
    margin-top:  0px;
    
}

/*this will control the photo in contact page (all about me)*/
.me{
    width: 750px;
    margin-left: 550px;
    margin-top: 0px;
}

.volley-court{
        width:690px;
    margin-top: 0px;
    margin-left: 550px;
}